.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;

  text {
    font-size: 10px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-bottom: 1px solid grey;
  flex-direction: column;
  width: 100%;
}
